.aboutCustom {
    font-family: 'Luckiest Guy', cursive;
    background: rgba(245, 245, 245, 0.5);
    height: 100%;
    margin-bottom: 1.75rem;
    padding: 2.5rem;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
}