.aboutCustom {
    background: rgba(245, 245, 245, 0.5);
    height: 13rem;
    margin: 1.75rem 0 1.75rem 0;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}