.headerCustom {
    font-family: 'Luckiest Guy', cursive;
    background: rgba(17, 111, 139, 0.5);
    height: 6rem;
    -webkit-box-shadow:5px 3px 15px 5px rgba(0, 0, 0, 0.4);
    box-shadow:5px 3px 15px 5px rgba(0, 0, 0, 0.4);
}